h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

button {
  width: 80px;
  height: 22px;
  margin: 5px;
  font-size: 13px;
}

input {
  width: 37px;
  font-size: 12px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.R {
  background-color: red;
}

.G {
  background-color: green;
}

.B {
  background-color: blue;
}

.W {
  background-color: white;
  color: black;
}

#Schlafzimmer {
  display: inline-block;
  width: 200px;
  vertical-align: top;
}

#Wohnzimmer {
  display: inline-block;
  width: 200px;
  vertical-align: top;
}

#Kueche {
  display: inline-block;
  width: 200px;
  vertical-align: top;
}

#Bad {
  display: inline-block;
  width: 200px;
  vertical-align: top;
}
